// ==== CONTENT ==== //

// Style the post and page body content here.

// 1. Headers
// 2. Body
// 3. Quotes
// 4. Lists
// 5. Images
// 6. Tables
// 7. Definitions

// 1. Headers //

h1 {
  @include font(header-l);

  margin-top: 2rem;
  margin-bottom: 1rem;
  color: palette(blue);
}

h2 {
  @include font(header-m);

  margin-top: 2rem;
  margin-bottom: 1rem;
  color: palette(blue);
}

h3 {
  @include font(header-s);

  margin-top: 2rem;
  margin-bottom: 1rem;
  color: palette(gray);
}

h4,
h5,
h6 {
  @include font(header-s);

  margin-top: 1rem;
  margin-bottom: 1rem;
  color: palette(gray);
}

// 2. Body //

p {
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {
    @include link-underline(pink);
  }

  img {
    max-width: 100%;
  }
}

// 3. Quotes

blockquote {
  @include font(body-l);

  margin-top: 2rem;
  margin-bottom: 2rem;
  color: palette(orange);

  &::before,
  &::after {
    display: block;
    width: 8rem;
    height: 1px;
    background-color: palette(gray, light);
    content: "";
    z-index: 10;
  }

  p {
    margin-right: 0;
    margin-left: 0;
  }

  cite,
  small {
    display: block;
  }

  em,
  i,
  cite {
    font-style: normal;
  }
}

// 4. Lists //

ul,
ol {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  padding-bottom: 0;
}

// 5. Images //

img {
  height: auto;

  // Make sure images are scaled correctly.
  vertical-align: middle;
}

.gallery {
  clear: both;
}

// 6. Tables //

table,
th,
td {
  border: 1px solid palette(gray, light);
}

th {
  border-width: 0 1px 1px 0;
  background-color: palette(gray, lighter);
  font-weight: 700;
}

table {
  // Prevents HTML tables from becoming too wide.
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 1px 0 0 1px;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

td {
  border-width: 0 1px 1px 0;
}

th,
td {
  padding: 0.4375em;
}

// 5. Definitions //

dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
