// ==== ARTICLE ==== //

// Style post and page elements here.

// 1. Content
// 2. Anchors
// 3. Shariff
// 4. Footer

// 1. Content //

.content {
  @include clearfix;
}

.content-entry {
  @include clearfix;

  display: block;
  width: 100%;
  margin-top: -1rem;

  @include mappy-bp(m) {
    width: 75%;
    max-width: $container-width * .75;
    float: right;
  }
}

// 2. Anchors //

.anchors {
  @include clearfix;

  display: block;
  width: 100%;
  color: palette(gray, dark);

  @include mappy-bp(m) {
    width: 25%;
    max-width: $container-width * .25;
    float: left;
  }
}

.anchors-header {
  @include font(body-l);

  margin-bottom: .5rem;
}

.anchor-link {
  @include font(body-s);
}

// 3. Shariff //

// See '_content.scss' for the content styling!

.shariff {
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: $anim-s;

  a::after {
    display: none;
  }
}

// 4. Footer //

.post-navigation {
  @include ctnr(two);
  @include clearfix;

  position: relative;
  padding-top: 1rem;
  padding-bottom: 4rem;
  clear: both;

  .nav-previous {
    position: relative;
    float: left;
    z-index: 100;

    a {
      @include font(button);
    }
  }

  .nav-numbers {
    @include font(body-s);

    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;

    a {
      @include font(button);

      color: palette(purple);
    }
  }

  .nav-next {
    position: relative;
    float: right;
    z-index: 100;

    a {
      @include font(button);

      text-align: right;
    }
  }
}

.post-tags {
  @include ctnr(two);
  @include font(body-s);

  color: palette(gray);
}
