// ==== ARTICLE ==== //

// Style post and page elements here.

// ! See '_content.scss' for the content styling!

// 1. Content
// 2. Anchors
// 3. Footer

// 1. Content //

.content-main {
  @include clearfix;
}

.content-sidebar {
  @include clearfix;

  display: block;
  width: 100%;

  @include mappy-bp(m) {
    width: 25%;
    max-width: $container-width * .25;
    float: left;
  }
}

.content-entry {
  @include clearfix;

  display: block;
  width: 100%;
  margin-top: -1rem;

  @include mappy-bp(m) {
    width: 75%;
    max-width: $container-width * .75;
    float: right;
  }
}

// 2. Anchors //

.anchors {
  color: palette(gray, dark);
}

.anchors-header {
  @include font(body-l);

  margin-bottom: .5rem;
}

.anchor-link {
  @include font(body-s);
}

// 3. Footer //

.entry-navigation {
  position: relative;
  clear: both;

  .nav-previous {
    float: left;
    z-index: 100;

    a {
      @include font(button);
    }
  }

  .nav-numbers {
    @include font(body-s);

    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;

    a {
      @include font(button);

      color: palette(purple);
    }
  }

  .nav-next {
    float: right;
    z-index: 100;

    a {
      @include font(button);

      text-align: right;
    }
  }
}

.post-tags {
  @include ctnr(two);
  @include font(body-s);

  color: palette(gray);
}
