// ==== FOOTER ==== //

// Style the footer widget area and meta information here.

// 1. General
// 2. Metabar
// 3. Widgets
// 4. Meta

// 1. General //

.footer {
  @include ctnr(full);

  position: relative;
  margin-top: 2rem;
  box-shadow: 0 -2px 8px -2px palette(gray, light);
}

// 2. Metabar //

.footer-metabar {
  @include ctnr(three);

  padding-top: 2rem;
}

.footer-tagline {
  @include font(header-m);
  @include line-header($primary);

  float: left;
}

.footer-social {
  float: right;
}

.footer-tagline,
.footer-social {
  width: 100%;

  @include mappy-bp(medium) {
    width: 50%;
  }
}

// 3. Widgets //

.footer-widgets {
  @include ctnr(three);

  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem;

  @include mappy-bp(max-width medium) {
    flex-wrap: wrap;
  }
}

.footer-widget:first-child {
  width: 100%;

  @include mappy-bp(medium) {
    width: calc(50% - 1rem);
  }
}

.footer-widget:nth-child(2),
.footer-widget:nth-child(3) {
  width: calc(50% - 1rem);
  margin-top: 1rem;

  @include mappy-bp(medium) {
    width: calc(25% - 1.5rem);
    margin-top: 0;
  }
}

// 4. Meta //

.footer-info {
  @include font(body-s);

  padding: .5rem 0;
  background-color: palette(gray, lighter);
  color: palette(gray);
  font-size: ms(-2);
}

.footer-wrapper {
  @include ctnr(three);
}

.footer-legal {
  float: left;
}

.footer-author {
  float: right;
}
