// ==== FOOTER ==== //

// Style the footer widget area and meta information here.

// 1. General
// 2. Metabar
// 3. Meta

// 1. General //

.footer {
  position: relative;
  margin-top: 2rem;
  box-shadow: 0 -2px 8px -2px palette(gray, light);
}

// 2. Metabar //

.footer-tagline {
  @include font(header-m);
  @include line-header($primary);

  width: 100%;
  float: left;

  @include mappy-bp(m) {
    width: 75%;
  }
}

.footer-social {
  width: 100%;
  float: right;

  @include mappy-bp(m) {
    width: 25%;
  }
}


// 3. Meta //

.footer-info {
  @include font(body-s);

  background-color: palette(gray, lighter);
  color: palette(gray);
  font-size: ms(-2);
}

.footer-legal {
  float: left;
}

.footer-author {
  float: right;
}
