// ==== HEADER ==== //

.header {
  .header-outer {
    @include ctnr(three);
  }

  .header-title {
    @include font(title);

    margin-bottom: 1rem;
  }

  .header-summary p {
    @include font(body-l);
  }
}

.header-noFeatured {
  .header-outer {
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
  }

  .header-title {
    @include line-header($primary);
  }

  .header-summary p {
    color: palette(gray, dark);
  }
}

.header-featured {
  @include ctnr(full);
  @include overlay-transparent(blue, turquoise);

  height: 32rem;
  min-height: 60vh;
  max-height: 80vh;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header-outer {
    position: relative;
    height: 100%;
    z-index: 15;
  }

  .header-inner {
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }

  .header-title {
    @include line-header(white);
  }

  .header-title,
  .header-summary p {
    @include overlay-text;
  }
}
