// ==== HEADER ==== //

.hero {
  .hero-title {
    @include font(title);

    margin-bottom: 1rem;
  }

  .hero-summary p {
    @include font(body-l);
  }
}

.hero-noFeatured {
  margin-top: 2rem;
  margin-bottom: 1rem;

  .hero-title {
    @include line-header($primary);
  }

  .hero-summary p {
    color: palette(gray, dark);
  }
}

.hero-featured {
  @include overlay-transparent(blue, turquoise);

  height: 32rem;
  min-height: 60vh;
  max-height: 80vh;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .hero-outer {
    position: relative;
    height: 100%;
    z-index: 15;
  }

  .hero-inner {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .hero-title {
    @include line-header(white);
  }

  .hero-title,
  .hero-summary p {
    @include overlay-text;
  }
}
