// ==== NAVIGATION ==== //

// 1. Metabar
// 2. Brand
// 3. Navigation
// 4. Turbolinks

// 1. Metabar //

.metabar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: palette(white);
  box-shadow: 0 2px 8px -2px palette(gray, light);
  z-index: 9999;

  // Headroom: hide and show metabar on scroll.
  .headroom & {
    position: fixed;
    transition: transform $anim-m;
  }

  .headroom--pinned &,
  .headroom--unpinned.headroom--bottom & {
    transform: translateY(0%);
  }

  .headroom--unpinned & {
    transform: translateY(-50%);
  }

  @include mappy-bp(s) {
    .admin-bar & {
      top: 32px;
    }
  }
}

// 2. Brand //

.brand {
  @include clearfix;

  position: relative;
  padding-top: .75rem;
  transition: visibility $anim-m;
  visibility: visible;

  // Headroom: hide and show metabar on scroll.
  @include mappy-bp(s) {
    .headroom--unpinned & {
      visibility: hidden;
    }

    .headroom--unpinned.headroom--bottom & {
      visibility: visible;
    }
  }
}

.brand-left,
.brand-right {
  // Lift the left & right elements above the center element.
  position: relative;
  z-index: 10000;
}

.brand-left {
  float: left;
}

.brand-center {
  display: block;
  line-height: 0;
  text-align: center;

  @include mappy-bp(max-width s) {
    padding: .5rem 0;
  }

  @include mappy-bp(s) {
    position: absolute;
    right: 0;
    left: 0;
    line-height: 0;

    .site-logo {
      max-width: 50vw;
    }
  }

  .site-logo {
    display: block;
    height: 32px;
    margin: 0 auto;
    transition: opacity $anim-s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 1;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.brand-right {
  float: right;
}

.brand-divider {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 2px;
  height: 24px;
  margin: 0 1rem;
  background-color: palette(gray, light);

  @include mappy-bp(s) {
    display: none;
  }
}

.brand-search {
  padding: 0;
  transition: transform $anim-s;
  border: 0;
  outline: none;
  background: none;
  cursor: pointer;

  svg {
    transition: fill $anim-s;
    vertical-align: top;
    fill: palette(gray);

    @include mappy-bp(s) {
      vertical-align: text-top;
    }

    &:hover,
    &:focus {
      fill: palette(orange);
    }
  }

  .-search-open & {
    transform: rotate(180deg);
  }
}

.search-open {
  display: inline;

  .-search-open & {
    display: none;
  }
}

.search-close {
  display: none;

  .-search-open & {
    display: inline;
  }
}

// 3. Navigation //

// responsive-nav.js 1.0.39 by @viljamis

@include mappy-bp(max-width s) {
  .navigation-links ul {
    display: block;
    width: 100%;
    margin: 0;
    list-style: none;
  }

  .navigation-links li {
    display: block;
    width: 100%;
  }

  .js .navigation-links {
    display: block;
    position: absolute;
    max-height: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    zoom: 1;
  }

  .navigation-links.opened {
    max-height: 9999px;
  }

  .navigation-button {
    @include font(button);

    padding: 0;
    border: 0;
    outline: none;
    background: none;
    color: palette(gray, dark);
    font-size: ms(1);
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
  }
}


@include mappy-bp(s) {
  .js .navigation-links {
    position: relative;
  }

  .js .navigation-links.closed {
    max-height: none;
  }

  .navigation-button {
    display: none;
  }
}
