// ==== SEARCH ==== //

// Style the search form and search results here.

// 1. Searchform
// 2. Results

// 1. Searchform //

.search-form {
  position: relative;
}

.search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  transform: translate(0, 20px);
  transition: $anim-m;
  background-color: palette(white);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;

  .-search-open & {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
}

.search-field {
  position: relative;
  top: 30%;
  width: 100%;
  transform: translate(0, -50%);
}

// 2. Results //


.search-title {
  @include font(body-s);

  color: palette(gray);
}

.search-post {
  .feed-headline {
    @include line-header(orange);

    transition: color $anim-s;

    &:hover,
    &:focus {
      color: palette(orange);
    }
  }

  .feed-text {
    margin-bottom: 0;
  }
}
