// ==== SECTION ==== //

// 1. Text + Image
// 2. Quote
// 3. Call To Action
// 4. Video + Google Maps
// 5. Newsfeed

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// 1. Text + Image /

.section-textImage {
  .feed-headline {
    @include line-header($primary);
  }

  .feed-link {
    border-bottom-color: palette($primary);
    color: palette($primary);
  }
}

// 2. Quote //

.section-quote {
  &[data-color="turquoise-blue"] {
    .quote-background {
      @include overlay-opaque(turquoise, blue);
    }
  }

  &[data-color="orange-turquoise"] {
    .quote-background {
      @include overlay-opaque(orange, turquoise);
    }
  }

  &[data-color="pink-orange"] {
    .quote-background {
      @include overlay-opaque(pink, orange);
    }
  }

  &[data-color="purple-pink"] {
    .quote-background {
      @include overlay-opaque(purple, pink);
    }
  }

  &[data-color="blue-purple"] {
    .quote-background {
      @include overlay-opaque(blue, purple);
    }
  }
}

.quote-background {
  width: 100%;
  height: 32rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mappy-bp(m) {
    height: 16rem;
  }
}

.quote-wrapper {
  position: relative;
  height: 100%;
}

.quote-blockquote {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 15;

  p {
    @include font(body-l);

    color: palette(white);
    font-weight: $sans-normal;
  }
}

.quote-citation {
  @include font(body-s);

  display: inline-block;
  width: 100%;
  color: palette(white);
  font-weight: $sans-medium;
  text-align: right;
}

// 3. Call To Action //

.section-cta {
  text-align: center;
}

.cta-button {
  @include button(blue);
}


// 4. Video //

.section-video {
  @include clearfix;

  .video-container {
    @include mappy-bp(max-width s) {
      flex-direction: column-reverse;
    }
  }
}



.video-headline {
  @include font(header-m);
  @include line-header(blue);
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// 5. Google Maps //


.section-googleMaps {
  .googleMaps-headline {
    @include font(header-m);

    padding-bottom: 1rem;
  }

  .acf-map {
    width: 100%;
    height: 16rem;
  }

  .googleMaps-header {
    @include font(header-s);
  }

  a .googleMaps-header {
    color: palette(blue);
  }

  .googleMaps-body {
    @include font(body-s);
  }
}

// Fixes potential theme css conflict.
.acf-map img {
  max-width: inherit;
}

// 7. Newsfeed //

.section-news {
  justify-content: space-between;

  @include mappy-bp(max-width m) {
    flex-wrap: wrap;
  }
}

.news-post {
  position: relative;
  overflow: hidden;
}

.news-1 {
  height: 17rem;
}

.news-2,
.news-3 {
  height: 9rem;

  @include mappy-bp(m) {
    height: 17rem;
  }
}

.news-background {
  @include overlay-transparent(purple, pink);

  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    height: 75%;

    @include mappy-bp(max-width s) {
      height: 100%;
    }
  }
}

.news-wrapper {
  height: 100%;
}

.news-outer {
  position: relative;
  height: 100%;
  z-index: 15;
}

.news-inner {
  position: absolute;
  bottom: 0;
}

.news-headline {
  @include overlay-text;

  .news-1 & {
    @include font(header-m);
  }

  .news-2 &,
  .news-3 & {
    @include font(header-s);
  }
}

.news-date {
  @include font(body-s);
  @include overlay-text;
}
