// ==== SECTION ==== //

// 1. Text + Image
// 2. Quote
// 3. Call To Action
// 4. Video + Google Maps
// 5. Newsfeed

.section {
  @include clearfix;

  margin-top: 4rem;
  margin-bottom: 4rem;
}

// 1. Text + Image //

.section-textImage {

  .section-imageOuter {
    @include ctnr(one);

    // @include mappy-bp(medium large) {
    //   width: 50%;
    //   max-width: $content-width / 2;
    //   padding-right: 1rem;
    //   float: left;
    // }
  }

  .section-imageInner {
    position: relative;

    &::before {
      display: block;
      width: 100%;
      padding-top: 100%;
      content: "";
    }
  }

  .section-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .section-bodyOuter {
    @include ctnr(two);

    // @include mappy-bp(medium large) {
    //   width: 50%;
    //   max-width: $content-width / 2;
    //   padding-left: 1rem;
    //   float: right;
    // }
  }

  .section-bodyInner {

    @include mappy-bp(medium) {
      position: relative;

      &::before {
        display: block;
        width: 100%;
        padding-top: 49%;
        content: "";
      }
    }

    @include mappy-bp(large) {
      &::before {
        padding-top: 49%;
      }
    }
  }

  .section-body {
    @include mappy-bp(medium) {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .section-headline {
    @include font(header-m);
    @include line-header($primary);
  }

  .section-text {
    // @include font(body-s);

    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .section-link {
    @include button;
  }
}

// 2. Quote //

.section-quote {
  blockquote {
    @include font(body-l);

    color: palette(orange);
    font-weight: $sans-normal;

    cite {
      display: inline-block;
      width: 100%;
    }
  }
}

// 3. Call To Action //

.section-cta {
  @include ctnr(two);

  text-align: center;

  a {
    @include button;
  }
}

// 4. Video + Google Maps//

.section-video,
.section-googleMaps {

  .section-videoOuter,
  .section-googleMapsOuter {
    @include ctnr(two);
  }

  .section-videoInner,
  .section-googleMapsInner {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  iframe,
  object,
  embed,
  .acf-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .section-header {
    @include font(body-s);

    color: palette(blue);
  }

  a .section-header {
    @include link-underline(blue);
  }
}

// Fixes potential theme css conflict.
.acf-map img {
  max-width: inherit;
}

// 5. Newsfeed //

.section-news {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  @include mappy-bp(max-width medium) {
    flex-wrap: wrap;
  }
}

.news-post {
  position: relative;
  overflow: hidden;
}

.news-1 {
  width: 100%;
  height: 17rem;

  @include mappy-bp(medium) {
    width: calc(50% - .5rem);
  }
}

.news-2,
.news-3 {
  width: 100%;
  height: 8.5rem;
  margin-top: 1rem;

  @include mappy-bp(medium) {
    width: calc(25% - .75rem);
    height: 17rem;
    margin-top: 0;
  }
}

.news-background {
  @include overlay-transparent(purple, pink);

  width: 100%;
  height: 100%;
  transition: transform $anim-m;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    height: 75%;

    @include mappy-bp(max-width small) {
      height: 100%;
    }
  }
}

.news-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .75rem 1rem;
  z-index: 15;
}

.news-headline {
  @include overlay-text;

  margin-bottom: .5rem;

  .news-1 & {
    @include font(header-m);
  }

  .news-2 &,
  .news-3 & {
    @include font(header-s);
  }
}

.news-date {
  @include font(body-s);
  @include overlay-text;
}
