// ==== WIDGETS ==== //

// Mixins, functions, and other non-declarative things.

.widget {
  @include font(body-s);

  color: palette(gray, dark);

  .widget-title {
    @include font(body-l);

    margin-bottom: 0.5rem;
    color: palette(gray, dark);
  }
}
