// ==== FORMS ==== //

// Style the various button types here.

@mixin button($color: $primary) {
  @include font(button);

  display: inline-block;
  padding: .25rem 1rem;
  transition: border-color $anim-s, background-color $anim-s, color $anim-s;
  background-color: palette(white);
  color: palette($color);
  outline: none;
  overflow: hidden;
  text-decoration: none;
  border: 2px solid palette($color);

  &:hover,
  &:focus {
    border-color: palette($color, light);
    background-color: palette($color, light);
    color: palette(white);
  }
}
