// ==== MENUS ==== //

/**
 * 1. Header
 * 2. Social
 * 3. Footer
 */

// 1. Header //

#menu-primary {
  position: relative;
  text-align: center;

  & > .menu-item {
    margin: 0 1.5%;
    padding-bottom: 12px;
    list-style-type: none;
    display: inline-block;
    height: 100%;
    position: relative;
    cursor: pointer;

    @include mappy-bp(large) {
      margin: 0 2.5%;
    }
  }

  & > .menu-item > a {
    @include font(small);

    @include link-underline(purple);

    color: palette(gray, darker);

    @include mappy-query(phone) {
      font-size: ms(1);
    }
  }

  .menu-item:hover > a:after,
  .menu-item:focus > a:after,
  .menu-item.current-menu-item > a:after {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0px);
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: -#{vr(0.5)};
    z-index: 100;
    min-width: 100%;
    padding-bottom: vr(0.25);
    background-color: palette(white);
    box-shadow: 0px 2px 8px -2px palette(gray, light);
    border-bottom-right-radius: vr(0.125);
    border-bottom-left-radius: vr(0.125);
    visibility: hidden;
    transform: translate(0px, -4px);
    opacity: 0;
    transition: visibility $anim-m, opacity $anim-m, transform $anim-m;

    .menu-item {
      @include font(small);

      text-align: left;
      white-space: nowrap;
      padding: vr(0.125) vr(0.5);
      background-color: palette(white);
      width: 100%;
      transition: color $anim-s;

      &:hover,
      &:focus {
        color: palette(purple, light);
      }
    }
  }

  @include mappy-query(tablet-desktop) {
    & > .menu-item:hover > .sub-menu {
      visibility: visible;
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
}

// 2. Social //

/**
 * Social icons displayed in the navigation bar.
 * A normal WordPress menu with custom links can be used to display the icons.
 * The trick are the CSS attribute selectors that check for the domain.
 * Inspired by http://justintadlock.com/archives/2013/08/14/social-nav-menus-part-2
 */
#menu-social {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
  }

  a {
    margin-right: vr(0.5);

    &:before {
      content: '\64';
      display: inline-block;
      color: palette(gray);
      font-family: 'uwc-website' !important;
      vertical-align: top;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      font-size: 20px;
      speak: none;
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: color $anim-s;
    }

    &[href*="wordpress"],
    &[href*="wordpress"] {
      &:before {
        content: '\63';
      }

      &:focus:before,
      &:hover:before {
        color: #1e8cbe;
      }
    }

    &[href*="facebook"] {
      &:before {
        content: '\68';
      }

      &:focus:before,
      &:hover:before {
        color: #3b5998;
      }
    }

    &[href*="twitter"] {
      &:before {
        content: '\69';
      }

      &:focus:before,
      &:hover:before {
        color: #55acee;
      }
    }

    &[href*="plus.google"] {
      &:before {
        content: '\61';
      }

      &:focus:before,
      &:hover:before {
        color: #dc4e41;
      }
    }

    &[href*="pinterest"] {
      &:before {
        content: '\71';
      }

      &:focus:before,
      &:hover:before {
        color: #bd081c;
      }
    }

    &[href*="github"] {
      &:before {
        content: '\70';
      }

      &:focus:before,
      &:hover:before {
        color: #333333;
      }
    }

    &[href*="tumblr"] {
      &:before {
        content: '\6d';
      }

      &:focus:before,
      &:hover:before {
        color: #35465c;
      }
    }

    &[href*="youtube"] {
      &:before {
        content: '\6a';
      }

      &:focus:before,
      &:hover:before {
        color: #cd201f;
      }
    }

    &[href*="flickr"] {
      &:before {
        content: '\72';
      }

      &:focus:before,
      &:hover:before {
        color: #ff0084;
      }
    }

    &[href*="vimeo"] {
      &:before {
        content: '\6c';
      }

      &:focus:before,
      &:hover:before {
        color: #1ab7ea;
      }
    }

    &[href*="instagram"] {
      &:before {
        content: '\6b';
      }

      &:focus:before,
      &:hover:before {
        color: #3f729b;
      }
    }

    &[href*="linkedin"] {
      &:before {
        content: '\67';
      }

      &:focus:before,
      &:hover:before {
        color: #0077b5;
      }
    }

    &[href^="mailto:"] {
      &:before {
        content: '\6f';
      }

      &:focus:before,
      &:hover:before {
        color: #ffa930;
      }
    }
  }
}
