// ==== MENUS ==== //

// 1. Header
// 2. Social
// 3. Footer

// 1. Header //

.menu-primary {
  position: relative;

  > .menu-item {
    display: inline-block;
    position: relative;
    height: 100%;
    cursor: pointer;
    list-style-type: none;

    > a {
      @include link-underline(blue);

      color: palette(gray, dark);
      font-weight: $sans-medium;

      &::after {
        bottom: -2px;
        width: 60px;
        max-width: 66%;
        height: 3px;
      }
    }
  }

  .menu-item:hover > a::after,
  .menu-item.current-menu-item > a::after,
  .menu-item.current-menu-ancestor > a::after {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  @include mappy-bp(max-width s) {
    padding: 1rem;

    > .menu-item {
      padding: 1rem 0;

      > a {
        @include font(body-l);
      }
    }
  }

  @include mappy-bp(s) {
    text-align: center;

    > .menu-item {
      margin: 0 2%;
      padding-bottom: .5rem;

      > a {
        @include font(body-s);
      }
    }

    > .menu-item:hover > .sub-menu {
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
    }
  }

  @include mappy-bp(l) {
    margin: 0 4%;
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: -1rem;
  min-width: 100%;
  padding-bottom: 0.25rem;
  transform: translate(0, -4px);
  transition: visibility $anim-m, opacity $anim-m, transform $anim-m;
  background-color: palette(white);
  box-shadow: 1px 2px 8px -2px palette(gray, light), -1px 2px 8px -2px palette(gray, light);
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  .menu-item {
    @include font(body-s);

    width: 100%;
    padding: 0.25rem 1rem;
    transition: background-color $anim-s, color $anim-s;
    background-color: palette(white);
    text-align: left;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: palette(gray, lighter);
      color: palette(blue);
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

// 2. Social //

// A normal WordPress menu with custom links can be used to display social icons.
// The trick are the CSS attribute selectors that check for the domain.
// Inspired by http://justintadlock.com/archives/2013/08/14/social-nav-menus-part-2

.menu-social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;

  li {
    display: inline-block;
  }

  a {
    margin-right: 1rem;

    &::before {
      display: inline-block;
      transition: color $anim-s;
      color: palette(gray);
      font-family: "uwc-website" !important;
      font-size: 20px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-style: normal !important;
      font-variant: normal !important;
      font-weight: normal !important;
      line-height: 1.5;
      text-transform: none !important;
      content: "\64";
      speak: none;
      vertical-align: top;
    }

    &[href*="wordpress"],
    &[href*="wordpress"] {
      &::before {
        content: "\63";
      }

      &:focus::before,
      &:hover::before {
        color: #1e8cbe;
      }
    }

    &[href*="facebook"] {
      &::before {
        content: "\68";
      }

      &:focus::before,
      &:hover::before {
        color: #3b5998;
      }
    }

    &[href*="twitter"] {
      &::before {
        content: "\69";
      }

      &:focus::before,
      &:hover::before {
        color: #55acee;
      }
    }

    &[href*="plus.google"] {
      &::before {
        content: "\61";
      }

      &:focus::before,
      &:hover::before {
        color: #dc4e41;
      }
    }

    &[href*="pinterest"] {
      &::before {
        content: "\71";
      }

      &:focus::before,
      &:hover::before {
        color: #bd081c;
      }
    }

    &[href*="github"] {
      &::before {
        content: "\70";
      }

      &:focus::before,
      &:hover::before {
        color: #333;
      }
    }

    &[href*="tumblr"] {
      &::before {
        content: "\6d";
      }

      &:focus::before,
      &:hover::before {
        color: #35465c;
      }
    }

    &[href*="youtube"] {
      &::before {
        content: "\6a";
      }

      &:focus::before,
      &:hover::before {
        color: #cd201f;
      }
    }

    &[href*="flickr"] {
      &::before {
        content: "\72";
      }

      &:focus::before,
      &:hover::before {
        color: #ff0084;
      }
    }

    &[href*="vimeo"] {
      &::before {
        content: "\6c";
      }

      &:focus::before,
      &:hover::before {
        color: #1ab7ea;
      }
    }

    &[href*="instagram"] {
      &::before {
        content: "\6b";
      }

      &:focus::before,
      &:hover::before {
        color: #3f729b;
      }
    }

    &[href*="linkedin"] {
      &::before {
        content: "\67";
      }

      &:focus::before,
      &:hover::before {
        color: #0077b5;
      }
    }

    &[href^="mailto:"] {
      &::before {
        content: "\6f";
      }

      &:focus::before,
      &:hover::before {
        color: #ffa930;
      }
    }
  }
}
