// ==== WORDPRESS ==== //

// Several classes for aligning images and block elements (div, p, table etc.) are required by WordPress.
// The same classes are used to align images that have a caption.
// Three additional CSS classes are needed for the captions, and one more for accessibility.



// 1. Alignment
// 2. Captions
// 3. Media
// 4. Gallery
// 5. Accessibility


// 1. Alignment //

.alignnone,
.aligncenter {
  max-width: 100%;
  text-align: center;
}

.alignnone img {
  width: 100vw !important;
  max-width: 100vw;
  margin: 1rem calc((100vw - 100%) / -2);

  @include mappy-bp(l) {
    width: 56rem !important;
    max-width: calc(100vw - 8rem);
    margin-top: 1rem;
    margin-right: -10rem;
    margin-bottom: 1rem;
    margin-left: -10rem;
  }
}

.aligncenter img {
  width: 100%;
  max-width: 100%;
  margin: 1rem auto;
}

figure.alignright {
  max-width: 100%;
  margin: .5rem 0 .5rem 1rem;
  float: right;
}

figure.alignleft {
  max-width: 100%;
  margin: .5rem 1rem .5rem 0;
  float: left;
}

// 2. Captions //

.wp-caption img {
  margin-bottom: 1rem;
}

.wp-caption.alignnone,
.wp-caption.aligncenter {
  min-width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.wp-caption.alignleft {
  text-align: left;
}

.wp-caption.alignright {
  text-align: right;
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
  @include font(body-s);

  color: palette(gray);
  font-style: italic;
  line-height: 1.3;
}

// 3. Media //

.wp-audio-shortcode a,
.wp-playlist a {
  box-shadow: none;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
  margin-top: 0;
  margin-bottom: 1.75em;
}

.wp-playlist.wp-audio-playlist {
  padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
  margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
  padding: 0.7142857143em 0;
  border-bottom: 0;
}

.wp-playlist-item .wp-playlist-item-length {
  top: 0.7142857143em;
}

// Make sure embeds and iframes fit their containers.
embed,
iframe,
object,
video {
  max-width: 100%;
  margin-bottom: 2rem;
  vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
  margin-bottom: 0;
}

.site .avatar {
  border-radius: 50%;
}

.entry-content .wp-smiley,
.entry-summary .wp-smiley,
.comment-content .wp-smiley,
.textwidget .wp-smiley {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

.entry-content a img,
.entry-summary a img,
.comment-content a img,
.textwidget a img {
  display: block;
}

// 4. Gallery //

.gallery,
.tiled-gallery {
  max-width: calc( 100% + #{1rem});
  margin: 2rem -#{.5rem};
}

.gallery-item {
  display: inline-block;
  width: 100%;
  max-width: calc(100% / 3);
  padding: 0 .5rem 1rem;
  text-align: center;
  vertical-align: top;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: calc(100% / 2);
}

.gallery-columns-4 .gallery-item {
  max-width: calc(100% / 4);
}

.gallery-columns-5 .gallery-item {
  max-width: calc(100% / 5);
}

.gallery-columns-6 .gallery-item {
  max-width: calc(100% / 6);
}

.gallery-columns-7 .gallery-item {
  max-width: calc(100% / 7);
}

.gallery-columns-8 .gallery-item {
  max-width: calc(100% / 8);
}

.gallery-columns-9 .gallery-item {
  max-width: calc(100% / 9);
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  @include font(body-s);

  display: block;
  color: palette(gray);
  font-style: italic;
  line-height: 1.3;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

// 5. Accessibility //

// Text meant only for screen readers.
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.screen-reader-text:focus {
  display: block;
  top: 1rem;
  left: 1rem;
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  clip: auto !important;
  border-radius: 3px;
  background-color: #f1f1f1;
  color: #21759b;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  z-index: 100000; // Above WP toolbar.
}

// Limits the size of images.
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
