// ==== COLOR ==== //

// Set all colors related things here.

// 1. Base colors
// 2. Color transformations
// 3. palette()

// 1. Base colors //

// #0064a6
$base-blue: #1366a9;

// #009b90
$base-turquoise: #21a7ac;

// #741669
$base-purple: #741868;

// #ad1644
$base-pink: #ac1743;

// #de6328
$base-orange: #e06f3b;

$factor-lighten: 8%;
$factor-darken: 8%;

// 2. Color transformations //

// Sass map for the color palette; see `_library.scss` for the palette() function.
$_palettes: (blue: (base: $base-blue, light: lighten($base-blue, $factor-lighten), dark: darken($base-blue, $factor-darken)), turquoise: (base: $base-turquoise, light: lighten($base-turquoise, $factor-lighten), dark: darken($base-turquoise, $factor-darken)), purple: (base: $base-purple, light: lighten($base-purple, $factor-lighten), dark: darken($base-purple, $factor-darken)), pink: (base: $base-pink, light: lighten($base-pink, $factor-lighten), dark: darken($base-pink, $factor-darken)), orange: (base: $base-orange, light: lighten($base-orange, $factor-lighten), dark: darken($base-orange, $factor-darken)), gray: (base: #717073, lighter: #f5f5f5, light: #dddce0, dark: #515152, darker: #333234), white: (base: #fff, light: #fdfdfd, dark: #fff));

// 3. palette() //

// A simple function to retrieve a color from the palette, adapted from http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/.
@function palette($palette, $tone: "base") {
  @return map-get(map-get($_palettes, $palette), $tone);
}
