// ==== COLOR ==== //

// Set all colors related things here.

// 1. Colors
// 2. palette()

// 1. Colors //

$primary: blue;
$secondary: turquoise;

$black: #000;
$white: #fff;

// Sass map for the color palette; see `_library.scss` for the palette() function.
$_palettes: (
  black: (
    base: $black,
    light: $black,
    dark: $black
  ),
  white: (
    base: $white,
    light: $white,
    dark: $white
  ),
  gray: (
    lighter: $oc-gray-1,
    light:   $oc-gray-3,
    base:    $oc-gray-6,
    dark:    $oc-gray-7,
    darker:  $oc-gray-9
  ),
  blue: (
    light: #0087e0,
    base: #0064a6,
    dark: #00497a
  ),
  turquoise: (
    light: #00ccbe,
    base: #009b90,
    dark: #007a72
  ),
  purple: (
    light: #9a1d8c,
    base: #741669,
    dark: #67145d
  ),
  pink: (
    light: #d91c55,
    base: #ad1644,
    dark: #901338
  ),
  orange: (
    light: #e37e4f,
    base: #de6328,
    dark: #c2521e
  )
);

// 2. palette() //

// A simple function to retrieve a color from the palette, adapted from http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/.
@function palette($palette, $tone: "base") {
  @return map-get(map-get($_palettes, $palette), $tone);
}
