// ==== LAYOUT ==== //

// Define all global layouts and layout styles here.

// 1. Variables
// 2. Helpers
// 3. ctnr()
// 4. Basics


// 1. Variables //

$breakpoints: (
  xs: 359px,
  s: 568px,
  m: 768px,
  l: 1024px,
  xl: 1280px,
  xxl: 1441px
);

$container-width: 52rem;


// 2. Helpers //

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

.box-1 {
  padding: .5rem 0;
}

.box-1-1 {
  padding: .5rem;
}

.box-1-2 {
  padding: .5rem 1rem;
}

.box-1-4 {
  padding: .5rem 2rem;
}

.box-2 {
  padding: 1rem 0;
}

.box-2-1 {
  padding: 1rem .5rem;
}

.box-2-2 {
  padding: 1rem;
}

.box-2-4 {
  padding: 1rem 2rem;
}

.box-3 {
  padding: 1.5rem 0;
}

.box-4 {
  padding: 2rem 0;
}

.box-4-1 {
  padding: 2rem .5rem;
}

.box-4-2 {
  padding: 2rem 1rem;
}

.box-4-4 {
  padding: 2rem;
}

.pure-ctnr,
%pure-ctnr {
  @include clearfix;

  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  @include mappy-bp(xs l) {
    width: calc(100% - 2rem);
  }

  @include mappy-bp(l) {
    width: calc(100% - 4rem);
    max-width: $container-width;
  }
}


// 3. ctnr() //

// Content width, see Pure for the grid.
@mixin ctnr($width: null) {
  @if $width == null {
    @warn "Mixin ctnr() received no input! Please provide a width.";
  }

  @else if $width == "three" {
    width: calc(100% - 2rem);
    max-width: $container-width;
    margin-right: auto;
    margin-left: auto;

    @include mappy-bp(xs l) {
      width: calc(100% - 4rem);
    }

    @include mappy-bp(l) {
      width: calc(100% - 8rem);
    }
  }

  @else if $width == "two" {
    @include clearfix;

    display: block;
    width: 100%;

    @include mappy-bp(m) {
      width: 66.6%;
      max-width: $container-width / 3 * 2;
      float: right;
    }
  }

  @else if $width == "one" {
    @include clearfix;

    display: block;
    width: 100%;

    @include mappy-bp(m) {
      width: 33.3%;
      max-width: $container-width / 3;
      padding-right: 1rem;
      float: left;
    }
  }

  @else {
    @warn "Mixin ctnr() received invalid input! This width does not exist.";
  }
}

// 4. Basics //

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  // Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  box-sizing: inherit;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: palette(white, light);
  color: palette(gray, dark);
  overflow-x: hidden;

  // Search open
  &.-search-open {
    height: 100%;
    overflow: hidden;
  }
}

// Limits width on large screens and centers content.
.site {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 6rem;
  background-color: #fff;
  z-index: 0;

  @include mappy-bp(s) {
    padding-top: 5rem;
  }
}
