// ==== LAYOUT ==== //

// Define all global layouts and layout styles here.

// 1. Breakpoints
// 2. Helpers
// 3. ctnr()
// 4. Basics


// 1. Breakpoints //

$breakpoints: (
  x-small: 359px,
  small: 577px,
  medium: 769px,
  large: 1025px,
  x-large: 1441px
);

// 2. Helpers //

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

// 3. ctnr() //

$content-width: 50rem;

// Content can take on three different widths: full, three and two.
@mixin ctnr($width: null) {
  @if $width == null {
    @warn "Mixin ctnr() received no input! Please provide a width.";
  }

  @else if $width == "full" {
    @include clearfix;

    display: block;
    width: 100vw;
    max-width: 100%;
    clear: both;
  }

  @else if $width == "three" {
    @include clearfix;

    display: block;
    width: calc(100% - 2rem);
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;

    @include mappy-bp(x-small large) {
      width: calc(100% - 4rem);
    }

    @include mappy-bp(large) {
      width: calc(100% - 8rem);
    }
  }

  @else if $width == "two" {
    @include clearfix;

    display: block;
    width: 100%;

    @include mappy-bp(medium) {
      width: 66%;
      max-width: $content-width / 3 * 2;
      padding-left: 1rem;
      float: right;
    }
  }

  @else if $width == "one" {
    @include clearfix;

    display: block;
    width: 100%;

    @include mappy-bp(medium) {
      width: 33%;
      max-width: $content-width / 3;
      padding-right: 1rem;
      float: left;
    }
  }

  @else {
    @warn "Mixin ctnr() received invalid input! This width does not exist.";
  }
}

// 4. Basics //

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  // Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  box-sizing: inherit;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: palette(white, light);
  color: palette(gray, dark);
  overflow-x: hidden;

  // Search open
  &.-search-open {
    height: 100%;
    overflow: hidden;
  }
}

// Limits width on large screens and centers content.
.site {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 5rem;
}
